body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

form {
  padding: 90px 100px 90px 100px;
  width: 520px;
  border: 1px lightgray solid;
  border-radius: 5px;
  h2 {
    margin-bottom: 45px;
  }
  .small-text-holder {
    margin-top: 15px;
  }
}

.form-holder {
  display: grid;
  height: 100%;
  align-items: center;
  justify-content: center;
}
